body {
  background-color: #f2f2f2;
}

.pipe {
  width: 1px;
  height: 1.71429rem;
  display: block;
  background-color: black;
}

.logo {
  width: 150px;
}

.navigation {
  margin: 8px;
  padding: 8px;
}

.principal {
  background-image: url(img/fondo.jpg);
  background-position: center -6.57143rem;
  background-size: initial;
  padding-bottom: 16.71429rem;
}

.btn-principal {
  z-index: 2;
  background-color: #28a5be;
  color: #fff;
  padding: 1.14rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.14286rem;
}

.btn-secundario {
  z-index: 1;
  padding: 0.71429rem 1.42857rem;
  text-decoration: none;
  background-color: #2d2d2d;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.img-principal {
  width: auto;
  position: absolute;
  bottom: -14.28571rem;
}

.manual-card {
  background-color: #fff;
  border: 1px solid #dedede;
  position: relative;
  z-index: 2;
  top: -5.71429rem;
  margin-bottom: -5.71429rem;
}

.img-card {
  padding: 0px;
}

.img-width {
  width: 4.5rem;
  height: 4.5rem;
}

.detail-table {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 100%;
}
